@font-face {
font-family: HelveticaLT;
src: url("/../Helvetica Inserat LT.ttf") format('truetype'),
}

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: HelveticaLT;
}

#container{
	max-width: 1280px;
	min-width: 800px;
	margin: 0 auto;
}

#header, #main {
	padding: 10px;
	background-color: #cccccc;
}

#header{
	height: 105px;
}

#lang-container{
	float: right;
}

#nav {
	margin-top: 87px;
}

ul {
	list-style-type: none;
}

.links_horizontal_nav > li{
	float: left;
}

.links_horizontal_nav > li > a{
	color: #fff;
    text-decoration: none;
    text-align: left;
    margin: 2px;
    background-color: #515151;
    padding: 10px 20px;
}

.dd_menu {
    position: absolute;
    background-color: #000;
    margin: 9px 2px;
    width: 140px;
}

.dd_menu > a {
    display: block;
    padding: 10px 15px;
    position: relative;
    margin: 0;
    text-align: left;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font: 11px arial;
}

a + hr{
	margin: 0 10px;
	background-color: #818181;
	border-top: 1px solid #818181;
	border-bottom: 1px solid #818181;
}

.dd_menu > a:hover{
	color: #900000;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

span.flag{
	display: inline-block;
	border: 1px solid #909090;
}

a.lng:hover{
	opacity: 0.3;
}

#main{
	width: 65%;
	float: left;
	margin-top: 10px;
}

h1 {
	margin: 0px;
	color: #fff;
	padding: 10px;
}

h1 + hr {
	margin: 0 10px;
    background-color: black;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid #7a7a7a;
}

.article {
	color: #fff;
	padding: 10px;
}

#aside{
	background-color: #a3a3a3;
	width: 30%;
	float: right;
	margin-top: 10px;
	padding: 10px;
}

.accordion > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.dropdown a {
  text-decoration: none;
  position: relative;
  display: block;
  color: white;
  background: #000;
  -moz-box-shadow: 0 1px 0 #7a7a7a inset, 0 -1px 0 #7a7a7a inset;
  -webkit-box-shadow: 0 1px 0 #7a7a7a inset, 0 -1px 0 #7a7a7a inset;
  box-shadow: 0 1px 0 #7a7a7a inset, 0 -1px 0 #7a7a7a inset;
  padding: 10px;
}

.dropdown a:hover {
  color: #900000;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #fff;
  top: 14px;
  right: 10px;
}

.dropdown .icon-arrow.open {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.dropdown .icon-arrow:before {
  content: '\25BC';
}

.dropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.dropdown .show, .dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  padding: 10px;
}
.dropdown .hide {
  max-height: 0;
}

#section, #accordion_container{
	background-color: #515151;
}

#footer {
	background-color: #cccccc;
	height: 43px;
	margin-top: 10px;
}

.copy_right{
	margin-top: 13px;
    float: left;
}

#links_footer{
	margin-top: 13px;
    float: right;
}

.links_horizontal_footer li{
	float: right;
}

.links_horizontal_footer li a{
	padding: 10px;
}