html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#container{
	max-width: 1280px;
	min-width: 800px;
	margin: 0 auto;
}

#header, #main {
	padding: 10px;
	background-color: #cccccc;
}

#header{
	height: 105px;
}

#lang-container{
	float: right;
}

#nav {
	margin-top: 87px;
}

ul {
	list-style-type: none;
}

.links_horizontal_nav li{
	float: left;
}

.links_horizontal_nav li a{
	color: #fff;
    text-decoration: none;
    margin: 2px;
    background-color: black;
    padding: 10px 20px;
}

/*.lng{
	display: inline-block;
	border: 1px solid #909090;
}*/

span.flag{
	display: inline-block;
	border: 1px solid #909090;
}

a.lng:hover{
	opacity: 0.3;
}

#main{
	width: 66%;
	float: left;
	margin-top: 10px;
	/*height: 800px;*/
}

h1 {
	margin: 0px;
	color: #fff;
	padding: 10px;
}

/*hr {

}*/

.article {
	color: #fff;
	padding: 10px;
}

#aside{
	background-color: #a3a3a3;
	width: 30%;
	float: right;
	margin-top: 10px;
	padding: 10px;
	/*height: 800px;*/
}

#section, #accordion_container{
	background-color: #515151;
}

#footer {
	background-color: #cccccc;
	height: 43px;
	margin-top: 10px;
}

.copy_right{
	margin-top: 13px;
    float: left;
}

#links_footer{
	margin-top: 13px;
    float: right;
}

.links_horizontal_footer li{
	float: right;
}

.links_horizontal_footer li a{
	padding: 10px;
}